.css-w9q2zk-Input2 {
    height: 3.5rem ;
    display: flex;
    align-items: center;
}

.css-art2ul-ValueContainer2 , input {
    height: 3.5rem ;
}

.css-eo9k9l-control {
    min-height: 3.5rem !important;
    height: 3.5rem !important;
    display: flex;
    align-items: center;
}

.css-1u9des2-indicatorSeparator {
    display: none;
}

.css-art2ul-ValueContainer2 {
    display: flex !important;
    align-items: center !important;
}

.css-1jqq78o-placeholder {
    height: 3.5rem !important;
    text-align: center;
}