.div-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #d3dae5;
    display: flex;
    align-items: center;
    justify-content: center;
}