* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "IRANYekan";
}

@font-face {
    font-family: "IRANYekan";
    src: url(./../fonts/Yekan.woff);
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "IRANYekan";
    overflow-x: hidden;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.w-6 {
    width: 7%;
}

.w-9 {
    width: 9.5%;
}

.w-14 {
    width: 14%;
}

.w-18 {
    width: 18%;
}

.w-18-5{
    width: 18.3%;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35%;
}

.w-70 {
    width: 64.5%;
}

.w-16 {
    width: 16%;
}
 