table {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    height: 80vh;
}

th,td {
    /* width: 15%; */
    text-align: center;
    border: 1px solid lightgrey;
    padding: 1rem;
    border-style: inset;
    background-color: #ffffff;
}

tr:nth-child(5){
    height: 60%;
}

th {
    font-size: 1.4rem;
    font-weight: normal;
}

td {
    font-size: 1.4rem;
}

table td:nth-child(1) {
    width: 3%;
}

table td:nth-child(2) ,table td:nth-child(3)  {
    width: 6%;
}

table td:nth-child(4) ,table td:nth-child(5) {
    width: 8%;
}

table td:nth-child(6) {
    width: 4%;
}

table td:nth-child(7) , table td:nth-child(8) , table td:nth-child(9) , table td:nth-child(10) , table td:nth-child(11) {
    width: 13%;
}